{header}

<div style="text-align: center">
	<img src="inc/pics/logo.jpg" alt="Logo" /><br /><br />

	<table class="anztable" cellspacing="1" cellpadding="4" style="margin-left:auto; margin-right:auto; text-align:left">
		<tbody>
			<tr>
				<td class="tablekopf" colspan="6">Stamm VIP's</td>
			</tr>
			{login}
			<tr class="tableinhalt_1" >
				<td align="center" colspan="6">{search}</td>
			</tr>
			<tr class="tableinhalt_1" >
				<td align="center" colspan="6"><span class="text1">{show_sites_antry_counts}</span></td>
			</tr>
			<tr class="tableinhalt_3">
				<td style="width: 5%" align="left"><span class="text1"><b>Rank</b></span></td>
				<td style="width: 32%" align="left"><span class="text1"><b>Name</b></span></td>
				<td style="width: 22%" align="left"><span class="text1"><b>SteamID</b></span></td>
				<td style="width: 13%" align="left"><span class="text1"><b>Level</b></span></td>
				<td style="width: 10%" align="left"><span class="text1"><b>Points</b></span></td>
				<td style="width: 18%" align="left"><span class="text1"><b>Points to next VIP</b></span></td>
			</tr>
			<!-- BEGIN clientsanzeigeempty -->
				<tr class="tableinhalt_1">
					<td align="center" colspan="7"><span class="text1"><br>No VIP's found!<br /><br /></span></td>
				</tr>
			<!-- END clientsanzeigeempty -->
			<!-- BEGIN clientsanzeige -->
				<tr class="tableinhalt_{linecolor}">
					<td align="left">
						<span class="text1">{rank}</span>
					</td>
					<td align="left">
						<a class="link1" href="http://steamcommunity.com/profiles/{steamid64}" onclick="window.open(this.href,'_blank'); return false;">{name}</a>
					</td>
					<td align="left">
						<a class="link1" href="http://steamcommunity.com/profiles/{steamid64}" onclick="window.open(this.href,'_blank'); return false;">{steamid}</a>
					</td>
					<td align="left">
						<span class="text1">{levelname}</span>
					</td>
					<td align="left">
						<span class="text1">{points}</span>
					</td>
					<td align="left">
						<span class="text1">{left}</span>
					</td> 		
				</tr>
			<!-- END clientsanzeige -->
			<tr class="tableinhalt_3">
				<td colspan="6" align = "center">
					<span class="page_switch_links">Go to page: {switch_sites_links}</span>
				</td>
			</tr>  
		</tbody>
	</table>
</div>  
  
{footer}